%h1 Listing reservations

%table.table
  %thead
    %tr
      %th Table
      %th Start
      %th End
      %th
      %th
      %th

  %tbody
    - @reservations.each do |reservation|
      %tr
        %td= reservation.table
        %td= reservation.start
        %td= reservation.end
        %td= link_to 'Show', reservation
        %td= link_to 'Edit', edit_reservation_path(reservation)
        %td= link_to 'Destroy', reservation, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Reservation', new_reservation_path
