= form_for @table, html: {class: 'form-horizontal'} do |f|
  - if @table.errors.any?
    #error_explanation
      %h2= "#{pluralize(@table.errors.count, "error")} prohibited this table from being saved:"
      %ul
        - @table.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :number, {class: 'col-sm-2 control-label'}
    .col-sm-10
      = f.number_field :number, class: 'form-control'
  .form-group
    = f.label :notes, {class: 'col-sm-2 control-label'}
    .col-sm-10
      = f.text_area :notes, class: 'form-control'
  .form-group
    = f.submit 'Save'
